/* TEMPLATE STYLES */

html {
    position: relative;
    min-height:100%;
}


main {
    padding-top: 3rem;
    padding-bottom: 0rem;
    margin-bottom: 0px;
    max-height: 80%;
    overflow: scroll;
}


.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.0rem;
}

.piperow {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.submitButton{
   height:60px;
   font-size:20px;
    position: relative;
}
.submitWell {
   position:relative;
}
.mainContainer {
   padding-top:60px;
   margin-right: 10px;
   margin-left: 10px;
   padding-bottom: 20px;
   width: 100%;
   height: 100%;
}
.navContainer {
  margin-left:10px;
}

.ingCol {
  height: 80%
}
